* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: #fff7ed;
  font-family: "Inter", sans-serif;
}

header {
  height: 110px;
  display: flex;
  align-items: center;
  padding-block: 10px;
}

header .site-logo {
  color: #000;
  padding: 10px 25px;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 25px;
  margin-right: auto;
}

header a {
  text-decoration: none;
  color: #4d4d4d;
  padding: 5px 20px;
  font-weight: 600;
}

header a:hover {
  text-decoration: underline;
  color: #161616;
}

/*** Home Page ***/
.home-container {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.46) 0%,
      rgba(0, 0, 0, 0.46) 100%
    ),
    url("./assets/images/image 53.png") no-repeat center center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  min-height: 550px;
  color: white;
  padding: 45px 45px;
}

.home-container h1 {
  font-size: 36px;
  font-weight: 800;
}

.home-container p {
  line-height: 24px; /* 150% */
}
.home-container a {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border: none;
  padding: 15px 37px;
  border-radius: 5px;
  background: #ff8c38;
  color: #fff7ed;
  margin-top: 30px;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
  font-weight: 600;
}

.home-container a:hover {
  transform: translate(1px, 1px);
}

/*** About Page ***/
.about-hero-image {
  width: 100%;
}

.about-page-content h2 {
  color: #161616;
  font-size: 32px;
  line-height: 38px; /* 118.75% */
  padding: 10px 25px;
}

.about-page-content p {
  color: #161616;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px; /* 137.5% */
  padding-inline: 25px;
}

.about-page-cta {
  background: #ffcc8d;
  color: #161616;
  border-radius: 5px;
  padding-inline: 32px;
  margin-inline: 25px;
  padding-bottom: 32px;
}

.about-page-cta h2 {
  padding-block: 37px;
  font-weight: 600;
  margin: 0;
}

.about-page-cta .link-button {
  border-radius: 10px;
  color: white;
}
.link-button {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  padding: 15px 32px;
  border-radius: 10px;
  background: #161616;
  color: #fff7ed;
  transition: transform 0.1s ease-out;
  border: none;
}

.link-button:hover {
  transform: translate(2px, 2px);
}
